/*
// normal: '#A8A77A',
// fire: '#EE8130',
// water: '#6390F0',
// electric: '#F7D02C',
// grass: '#7AC74C',
// ice: '#96D9D6',
// fighting: '#C22E28',
// poison: '#A33EA1',
// ground: '#E2BF65',
// flying: '#A98FF3',
// psychic: '#F95587',
// bug: '#A6B91A',
// rock: '#B6A136',
// ghost: '#735797',
// dragon: '#6F35FC',
// dark: '#705746',
// steel: '#B7B7CE',
// fairy: '#D685AD',
// 
*/

.normal,
.fire,
.water,
.electric,
.grass,
.ice,
.fighting,
.poison,
.ground,
.flying,
.psychic,
.bug,
.rock,
.ghost,
.dragon,
.dark,
.steel,
.fairy {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-top: 0.2rem;
  border: 1.5px solid black;
  box-shadow: 0 2px 5px rgb(58, 58, 58);
}

/*TYPES*/
.normal {
  background: #a8a77a;
}

.fire {
  background: #ee8130;
}

.water {
  background: #6390f0;
}

.electric {
  background: #f7d02c;
}

.grass {
  background: #7ac74c;
}

.ice {
  background: #96d9d6;
}

.fighting {
  background: #c22e28;
}

.poison {
  background: #a33ea1;
}

.ground {
  background: #e2bf65;
}

.flying {
  background: #a98ff3;
}

.psychic {
  background: #f95587;
}

.bug {
  background: #a6b91a;
}

.rock {
  background: #b6a136;
}

.ghost {
  background: #735797;
}

.dragon {
  background: #6f35fc;
}

.dark {
  background: #705746;
}

.steel {
  background: #b7b7ce;
}

.fairy {
  background: #d685ad;
}
